from hazelcast.config import Config

__all__ = ["client_config"]

client_config = Config()
client_config.smart_routing = False
client_config.statistics_enabled = True

{{ if .ClusterName }}
client_config.cluster_name = '''{{ .ClusterName }}'''
{{ end }}

{{ if .ClusterDiscoveryToken }}
client_config.cloud_token = '''{{ .ClusterDiscoveryToken }}'''
{{ else }}
    {{ if .ClusterAddress }}
client_config.cluster_members = ['''{{ .ClusterAddress }}''']
    {{ end }}
{{ end }}
